<% form_tag password_reset_request_path do %>
<fieldset>
  <%= content_tag :legend, I18n.t('restful_authentication.password_reset_request') %>
  <%= error_message_on :user, :email %>
  <%= content_tag :p, I18n.t('restful_authentication.password_reset_request_description') %>
  <p><label for="email"><%= I18n.t('restful_authentication.password_reset_request_email') %></label><br/>
  <%= text_field_tag :email, "", :size => 35 %></p>
  <%= submit_tag I18n.t('restful_authentication.password_reset_request_submit') %>
</fieldset>
<% end %>
