<% form_for :user, :url => reset_password_path do |f| %>
<fieldset>
  <%= content_tag :legend, I18n.t('restful_authentication.reset_password') %>
  <%= error_messages_for :user %>
  <p><label for="user_password" ><%= I18n.t('restful_authentication.password') %></label><br/>
  <%= f.password_field :password, :size => 45 %></p>
  <p><label for="user_password_confirmation" ><%= I18n.t('restful_authentication.password_confirmation') %></label><br/>
  <%= f.password_field :password_confirmation, :size => 45 %></p>
  <%= submit_tag I18n.t('restful_authentication.reset_password_submit') %>
</fieldset>
<% end %>