!!!
%html
  %head
    %title GoLo, Beta
    %meta{:name => 'viewport', :content => 'width=320'}
    %link{:rel => 'apple-touch-icon', :href =>"/images/golo_icon.png"}
    = javascript_include_tag 'prototype', 'jquery'
    :javascript
      jQuery.noConflict();
    = active_scaffold_includes
    = yield :head
    - javascript_tag do
      = yield :jstemplates
    = javascript_include_tag 'jquery.livequery'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16101213-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  %body
    - [:notice, :error, :message].each do |key|
      - unless flash[key].blank?
        %p{ :id => "flash_#{key}" }= flash[key] 

    %div GoLo Admin Area

    = yield

         
