!!!
%html
  %head
    %title GoLo, Beta
    = stylesheet_link_tag 'mobile'
    %meta{:name => 'viewport', :content => 'width=320'}
    = javascript_include_tag 'jquery'
    %link{:rel => 'apple-touch-icon', :href =>"/images/golo_icon.png"}
    = javascript_include_tag 'application'
    = yield :head
    - javascript_tag do
      = yield :jstemplates
    = javascript_include_tag 'jquery.livequery'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16101213-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  %body
    #container
      #view
        - [:notice, :error, :message].each do |key|
          - unless flash[key].blank?
            %p{ :id => "flash_#{key}" }= flash[key] 
        #home
          = link_to image_tag('golo_icon.png', :align=>"absmiddle", :border=>"0"), '/'
          How low can you go?

          - if logged_in?
            #logout
              %div
                = link_to 'Home', "/"
                |
                = link_to 'Dashboard', dashboard_path
                |
                = link_to 'Log Out', '/logout'

        = yield

